#title {
	text-align: center;
	font-family: verdana;
	font-size: 40px;
	margin:0px;
}

h4 {
	font-family: verdana;
	font-size:10px;
}

body {
	background-color:antiquewhite;
}

#container1 {
    height: 400px;
    width: 650px;
    margin:0px;
}